mat-card{
    width:100%;
    text-align: center;
  }
  
  .titre{
    color: #54c1c1;
    margin-left: 35%;
  }
  
  mat-card-content{
    position: relative;
    margin-top: 30%;
  }
  
  
    .input{
      margin-top: 5%;
    border-radius: 10px;
    border:1px;
    height: 55px;
    width:90%;
    box-shadow: 1px 8px 8px 0px rgba(0 ,0 ,0 ,0.08);
    
    --highlight-height: 0px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;
    }
  
  #but{
      margin-top: 15%;
      margin-bottom: 33%;
      border-radius: 50px;
      height: 35px;
      width:80%;
      border:1px;
      background-color :#54c1c1;
      color:#fff;
      font-size: 16px;
    }
  
  
  